@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
/* color-var */
:root{
    --bg-pink1: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    --color2: rgb(78, 197, 247);
    --black1:rgb(83, 76, 100);
    --white4:rgb(255, 255, 255);
    --black2:rgb(11, 2, 35);
    --pink: rgb(255, 66, 165);
}
/* share style */
.btn1{
    border: none;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 30px;
    color: var(--white4);
    background-color:var(--pink);
    text-transform: uppercase; 
}
.btn2{
    border: none;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    padding: 15px 30px;
    color: var(--white4);
    font-weight: 500;
    background-color: var(--color2);
    text-transform: uppercase;
}
.btn3{
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 15px 30px;
    color: var(--pink);
    background-color: var(--white4);
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin-top: 1rem;
}
.container{
    max-width: 1566px;
    margin: 0 auto;
    background: var(--white4);
}
/* header-section-style */
.header-section{
    width: 100%;
    background: var(--white4);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
}
.navber{
    max-width: 1566px;
    margin: 2rem auto;
    background: var(--white4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber .nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navber .nav-left img{
    width: 60%;
    height: 20%;
}
.navber .nav-left p{
    font-size: 2.5rem;
    font-weight: 600;
}
.navber .nav-left p::first-letter{
    color: var(--pink);
}
.navber .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}
.navber .nav-right p{
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color5);
}
.navber .nav-right .follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.navber .nav-right 
.follow-us .youtube{
    color: red;
}
/* main-section-style */
.main-section{
    width: 100%;
    background: var(--white4);
}
.main-section
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-section
.banner-section
.content h2{
    padding: 0;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--black2);
}
.main-section
.banner-section
.content h1{
    font-size: 6rem;
    font-weight: 800;
    padding: 0.5rem 0;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
.main-section
.banner-section
.content p{
    font-size: 1.5rem;
    padding: 0.3rem ;
    color: var(--black1);
}
.main-section
.banner-section
.content .play,.download{
    color: var(--pink);
}
.main-section
.banner-section
.content .btn-section{
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* gamer-section style */
.gamer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.gamer-section 
.content{
    width: 35%;
    flex-direction: column;
}
.gamer-section 
.content h1{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 1rem 0rem;
}
.gamer-section
.content p{
    font-size: 1.2rem;
    padding: 0.3rem ;
    color: var(--black1);
    line-height: 30px;
}
.gamer-section
.content .g-btn{
    width: 30%;
    text-align: center;
    margin-left: 58%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.gamer-section
.content h2{
    font-size: 2rem;
    color: var(--black1);
}
.gamer-section
.content h2 p{
    font-size: 1rem;
    color: var(--black1);
    font-weight: 500;
}
/* Online Games Funny Videos section style */
.game-and-video-section{
    margin: 3rem auto;
}
.game-and-video-section .content h2{
    font-size: 3rem;
    text-align: center;
}
.game-and-video-section .content h2 p{
    display: inline-block;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
.game-and-video-section .content span{
    display: block;
    text-align: center;
    color: var(--black1);
    font-size: 1.2rem;
    font-weight: 500;
}
.game-and-video-section .gm-card{
    margin: 1.5rem auto;
    padding-left: 10px;
}
.game-and-video-section .gm-card .card{
    width: 23%;
    height: 450px;
    padding: 10px;
}
.game-and-video-section .gm-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-and-video-section .gm-card p{
    padding: 1rem 0;
    color: var(--black2);
    font-size: 1rem;
    font-weight: 450;
}
/* <!-- Play Instantly,No Downloads No Installs. --> */
.game{
    /* border: 2px solid gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game1 .content{
    text-align: end;
    width: 40%;
}
.game2 .content{
    text-align: start;
    width: 40%;
}
.game .content h1{
    font-size: 3.5rem;
}
.game .content h1 p{
    display: block;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
.game .image-parent{
    margin-top: 5rem;
    width: 500px;
    height: 500px;
    background-image: url(../images/Rectangle\ 55.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    position: relative;
}
.game .image-parent
.image-child{
    background: url(../images/Rectangle\ 66.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: -60px;
    left: -130px;
}

.game .image-parent-2{
    margin-top: 10rem;
    width: 500px;
    height: 500px;
    background-image: url(../images/Rectangle\ 67.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    position: relative;
}
.game .image-parent-2
.image-child-2{
    background: url(../images/Rectangle\ 78.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: -60px;
    right: -130px;
}
/* career-section */
.career-section{
    background-color:rgb(255, 66, 165);
}
.career-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    background-color: transparent;
}
.career-container
.head-content h1{
    font-size: 3rem;
    color: #fff;
}
.career-container
.head-content p{
    font-size: 1rem;
    color: #fff;
    line-height: 30px;
}
.career-container
.all-career{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-container
.all-career .left{
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
    line-height: 30px;
}
.career-container
.all-career .right{
    text-align: right;
    font-size: 1.2rem;
    color: #fff;
    line-height: 30px;
}
.career-contain .btn{

}